<html>
<head>
<meta charset="utf-8">
<title>BlockFlut0</title>
<script src="/static/blockly/blockly_uncompressed.js"></script>
<script src="/static/blockly/blocks/logic.js"></script>
<script src="/static/blockly/blocks/variables.js"></script>
<script src="/static/blockly/blocks/math.js"></script>
<script src="/static/blockly/blocks/custom.js"></script>


<script src="/static/blockly/generators/python.js"></script>
<script src="/static/blockly/generators/python/logic.js"></script>
<script src="/static/blockly/generators/python/variables.js"></script>
<script src="/static/blockly/generators/python/math.js"></script>
<script src="/static/blockly/generators/python/custom.js"></script>

<script src="/static/jquery-3.2.1.min.js"></script>



<script src="/static/blockly/msg/js/fr.js"></script>
</head>
<body>
<!--<button onclick="alert(Blockly.Python.workspaceToCode(workspace))">Print</button>-->
<button id="exec">Play</button><button id="stop">Stop</button>
<div id="blocklyDiv" style="height: 560px; width: 1000px;"></div>
<xml id="toolbox" style="display: none">
<category name="Sons" color="180">
<block type="pitchtofrequ">
   <value name="NAME">
      <shadow type="math_number">
         <field name="NUM">55</field>
      </shadow>
   </value>
</block>

<block type="hz">
  <value name="synthID">
   <shadow type="math_number">
      <field name="NUM">1</field>
   </shadow>
   </value>
   <value name="frequ">
   <shadow type="math_number">
      <field name="NUM">440</field>
   </shadow>
   </value>
   <value name="durée">
   <shadow type="math_number">
      <field name="NUM">500</field>
   </shadow>
   </value>
</block>

<block type="vol">
  <value name="synthID">
   <shadow type="math_number">
      <field name="NUM">1</field>
   </shadow>
   </value>
   <value name="vol">
   <shadow type="math_number">
      <field name="NUM">0.5</field>
   </shadow>
   </value>
   <value name="durée">
   <shadow type="math_number">
      <field name="NUM">500</field>
   </shadow>
   </value>
</block>

<block type="formeonde">
  <value name="synthID">
   <shadow type="math_number">
      <field name="NUM">1</field>
   </shadow>
   </value>
   <value name="durée">
   <shadow type="math_number">
      <field name="NUM">500</field>
   </shadow>
   </value>
</block>

</category>

<category name="Menu" colour="210">
  <block type="logic_operation"></block>
  <block type="variables_set"></block>
  <block type="variables_get"></block>
  <block type="math_number"></block>
  <block type="math_random_int"></block>  
  <block type="math_arithmetic"></block>
  <block type="math_change"></block>
  <block type="controls_if"></block>
  <block type="logic_compare"></block>
  <block type="moncustom"></block>
  <block type="attendre"></block>
  <block type="math_trig"></block>
</category>
</xml>
</body>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
$(function(){

var workspace = Blockly.inject('blocklyDiv',
{
	toolbox: document.getElementById('toolbox'),
	scrollbars: true,
	sounds:false
});
/*
$('#exec').bind('click', function() {
	  console.log(Blockly.Python.workspaceToCode(workspace))
      $.getJSON($SCRIPT_ROOT + '/_play', {
        code : Blockly.Python.workspaceToCode(workspace)
        //code : 'play'
      }, function(data) {
		console.log(data.result);
        //$("#result").text(data.result);
      });
      return false;
    });
    
$('#stop').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_stop', {
        code : Blockly.Python.workspaceToCode(workspace)
        //code : 'play'
      }, function(data) {
		console.log(data.result);
        //$("#result").text(data.result);
      });
      return false;
    });
*/

workspace.addChangeListener(workspaceChanged);
var launch=0;
var nbevent=0;
var last=0;
var nbeventlist = new Array();
function workspaceChanged(workspaceEvent){
	if(workspaceEvent.type=="create" || workspaceEvent.type=="delete" || workspaceEvent.type=="change")
	{
		nbevent+=1;
		nbeventlist.push(nbevent);
		setTimeout(checkandlaunch,1000);
	}
	if(workspaceEvent.type=="move")
	{
		if(workspaceEvent.oldParentId != workspaceEvent.newParentId)
		{
			nbevent+=1;
			nbeventlist.push(nbevent);
			setTimeout(checkandlaunch,1000);
		}
	}
}

function checkandlaunch(){	
	//console.log("nbvent :"+nbevent);
	//console.log("last :"+last);
	if(last!=nbevent)
	{
		load();
		nbevent=0;
		last=0;
	}
	last=nbevent;
	//console.log("nbventList :"+nbeventlist);
}

	var pid;
	function load(){
	  //console.log(Blockly.Python.workspaceToCode(workspace))
      $.getJSON($SCRIPT_ROOT + '/_play', {
        code : Blockly.Python.workspaceToCode(workspace)
        //code : 'play'
      }, function(data) {
		console.log(data.result);
        //$("#result").text(data.result);
      });
      return false;
    }

    $('#stop').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_stop', {
        code : Blockly.Python.workspaceToCode(workspace)
        //code : 'play'
      }, function(data) {
		console.log(data.result);
        //$("#result").text(data.result);
      });
      return false;
    });
});
</script>
</html>
